@model  Dictionary<string, CounterBenchmark.Models.BenchmarkModel>

@{
    ViewBag.Title = "title";
}

<h2>title</h2>


<ul>
    <li>@Html.ActionLink("ClientSide", "ClientSide")</li>
    <li>@Html.ActionLink("StoredProcedure", "StoredProcedure")</li>
    <li>@Html.ActionLink("StoredProcedure 10 Parallel", "StoredProcedure10")</li>
    <li>@Html.ActionLink("RedisIncrement", "Redis")</li>
    <li>@Html.ActionLink("RedisIncrement 10 Parallel", "Redis10")</li>
    <li>@Html.ActionLink("Servicebus", "ServiceBus")</li>
    <li>@Html.ActionLink("Servicebus 10 Parallel", "ServiceBus10")</li>
</ul>
@foreach (var keyValue in Model)
{
    @Html.Partial("Result",keyValue.Value)
}